<section class="text-center">
    <mdb-carousel [animation]="'slide'">
        <mdb-carousel-item>
            <img class="d-block w-100" src="https://www.yeti.com/on/demandware.static/-/Library-Sites-SiteGenesisSharedLibrary/default/dw812d555f/images/homepage/2020/11-23-20-Scarcity-Campaign-Black-Friday/200639-BlackFriday-Website-HmPg-HeroImg-Desktop-1600x550-v2.jpg"
                alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img class="d-block w-100" src="https://www.yeti.com/on/demandware.static/-/Library-Sites-SiteGenesisSharedLibrary/default/dw812d555f/images/homepage/2020/11-23-20-Scarcity-Campaign-Black-Friday/200639-BlackFriday-Website-HmPg-HeroImg-Desktop-1600x550-v2.jpg"
                alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img class="d-block w-100" src="https://www.yeti.com/on/demandware.static/-/Library-Sites-SiteGenesisSharedLibrary/default/dw812d555f/images/homepage/2020/11-23-20-Scarcity-Campaign-Black-Friday/200639-BlackFriday-Website-HmPg-HeroImg-Desktop-1600x550-v2.jpg"
                alt="Third slide">
        </mdb-carousel-item>
    </mdb-carousel>

</section>
